<nav class="paddeddivs">
    <div id="header">
        <h2>Health-portal</h2>
    </div>
    <div>
        <ul id="navbarul">
            <!-- if user session set -->
            <li><a href="#">Notifications</a></li>
            <!-- <div class="submenu">
                <ul id="subul">
                    <li><a href="#">View Profile</a></li>
                    <li><a href="#">User options</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div> -->
            <!-- if not set -->
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </div>
</nav>