#main{
    display: grid;
    grid-template-columns: 200px auto;
}
.sidebar{
    padding: 80px 10px;
    background-color: #f7f7f7;
    border-right: 1px solid #d3d3d3;
    height: 100vh;
    position: sticky;
    top: 0px;
    left: 0;
    text-align: right;
    z-index: 1;
}
#username{
    padding: 20px 10px;
}
#sidebarul{
    padding: 0;
}
#sidebarul li{
    border-top: 1px solid var(--border-light-color);
}
#sidebarul li:first-child{
    border: 0;
}
#sidebarul li a{
    display: block;
    padding: 10px;
}
#sidebarul li.active a, #sidebarul li:hover a{
    color: var(--primary-dark-color);
    cursor: pointer;
}
#qna{
    border-bottom: 1px solid #ededed;
    background: #f5f5f5;
    box-shadow: 0px 2px 5px #ebebeb;
    padding: 5px 10%;
    z-index: 0;
    position: sticky;
    top: 0;
    text-align: center;
}
#qna>*{
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
}
#searchbar{
    width: 500px;
}
.questioncard{
    padding: 10px;
    cursor: pointer;
    margin: 0 2%;
    border-top: 1px solid var(--border-light-color);
}
.questioncard:first-child{
    border: 0;
}
.questioncard:hover a{
    color: black;
}
.questioncard:hover .questionheader{
    color: var(--primary-dark-color);
    text-decoration: underline;
}
.questionheader{
    font-size: 1.1em;
    margin: 0;
}
.questiondesc{
    font-size: 0.9em;
    max-width: 700px;
}
.tag{
    padding: 3px 10px;
    font-size: 0.9em;
    background: linear-gradient(to top right, var(--primary-dark-color), var(--button-left-color1));
    color: var(--primary-light-color);
    border-radius: 5px;
    border: 1px solid var(--button-left-color2);
    margin-right: 7px;
}