
<div class="container-fluid jumbotron">
    <h3 style="text-align: center;">Track Your Health</h3>
    <form>
        <!-- page1 -->
    <div id="page1">
        <div class="form-group">
            <h5 class="headers1">Enter Current Year:</h5>
            <input type="number" class="form-control col-3" id="year"  name="year" placeholder="eg: 2020">
            <h5 class="headers1">Enter Current Month:</h5>
            <input type="number" class="form-control col-3" id="month"  name="month" placeholder="eg: 01 to 12">
            <h5 class="headers1">Enter Today's Date:</h5>
            <input type="number" class="form-control col-3" id="date"  name="date" placeholder="eg: 01 to 31">
        </div>
        <div class="form-group">
            <button class="searchbutton" id="next" >Next</button>
        </div>
    </div>
    <!-- page 2 -->
    <div id="page2" style="display: none;">
        <div class="form-group">
            <h5 class="headers1">Remember The Objects:</h5>
            <div id="hider">
                <div id="hidimages">
                    <img class="img1" src="images/ball.png">
                    <img class="img1" src="images/cup.png">
                    <img class="img1" src="images/pen.jpg">
                </div>
                <button class="searchbutton" id="prev" style="display: none;" type="button" >Preview</button>
            </div>
            <div id="answerimages">
                <div>
                    <h5 class="headers1">Object 1:</h5>
                    <input type="text" class="form-control col-11" id="object1"  name="obj1" placeholder="Enter the object's name here">
                </div>
                <div>
                    <h5 class="headers1">Object 2:</h5>
                    <input type="text" class="form-control col-11" id="object2"  name="obj2" placeholder="Enter the object's name here">
                </div>
                <div>
                    <h5 class="headers1">Object 3:</h5>
                    <input type="text" class="form-control col-11" id="object3"  name="obj3" placeholder="Enter the object's name here">
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="searchbutton"  type="button" onclick="givepoints()">Done</button>
        </div>
    </div>
    
   
    </div>
</form>

</div>
<script>
    var counter = 0;
    $( "#prev" ).click(function() {
        counter = 1;
        $( ".img1" ).show(1000, function(){
            setTimeout(function(){
                hideimgs();
            }, 1000);
        });
        $("#prev").hide(1000);
    });
    $('#next').click(function() { 
    $(this).parents('#page1').hide();
    $(this).parents('#page1').next('#page2').show();
    setTimeout(function(){
        hideimgs();
    }, 3000);
    return false;
    }); 
    function hideimgs(){
        $( ".img1" ).hide( 1000 );
        if(counter == 0){
            $("#prev").show(1000);
        }
        
    }

    function givepoints(){
        var points = 0;
        var d = new Date();
        if($('#year').val() == d.getFullYear()){
            points += 2;
        }
        if(parseInt($('#month').val()) == (d.getMonth()+1)){
            points += 2;
        }
        if(parseInt($('#date').val()) == d.getDate()){
            points += 5;
        }
        if($('#object1').val().toLowerCase() == "ball"){
            points += 2;
        }
        if($('#object2').val().toLowerCase() == "cup"){
            points += 2;
        }
        if($('#object3').val().toLowerCase() == "pen"){
            points += 2;
        }
        swal("You completed the test", "Your points "+points+"/15", "success");
    }
    </script>