
<div class="container-fluid jumbotron">
    <h3 style="text-align: center;">Track Your Health</h3>
    <form>
        <!-- page1 -->
    <div id="page1">
        <div class="form-group">
            <h5 class="headers1">Q.1) Do you get anxious if you have to speak or perform in any way in front of a group of strangers?</h5>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" class="q1"  id="Q1.1" value="0" name="Q1">
                <label class="form-check-label" for="Q1.1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" class="q1" id="Q1.2" value="4" name="Q1">
                <label class="form-check-label" for="Q1.2">No</label>
            </div>
        </div>
        <div class="form-group">
            <h5 class="headers1">Q.2) Are you easily hurt by what other people do or say to you?</h5>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" class="q2" id="Q2.1" value="0" name="Q2">
                <label class="form-check-label" for="Q2.1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" class="q2" id="Q2.2" value="4" name="Q2">
                <label class="form-check-label" for="Q2.2">No</label>
            </div>
        </div>
        <div class="form-group">
            <h5 class="headers1">Q.3) Do you keep in the background on social occasions?</h5>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" class="q3" id="Q3.1" value="0" name="Q3">
                <label class="form-check-label" for="Q3.1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" class="q3" id="Q3.2" value="4" name="Q3">
                <label class="form-check-label" for="Q3.2">No</label>
            </div>
        </div>
        <div class="form-group">
            <h5 class="headers1">Q.4) Do you feel uncomfortable when you meet new people?</h5>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" class="q4" id="Q4.1" value="0" name="Q4">
                <label class="form-check-label" for="Q4.1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" class="q4" id="Q4.2" value="4" name="Q4">
                <label class="form-check-label" for="Q4.2">No</label>
            </div>
        </div>
        <div class="form-group">
            <h5 class="headers1">Q.5) Do you get discouraged easily, e.g., by failure or criticism?</h5>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" class="q5" id="Q5.1" value="0" name="Q5">
                <label class="form-check-label" for="Q5.1">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" class="q5" id="Q5.2" value="4" name="Q5">
                <label class="form-check-label" for="Q5.2">No</label>
            </div>
        </div>

           
        <div class="form-group">
            <button class="searchbutton" id="done" type="button" onclick="anval()">Done</button>
        </div>
    </div>
</div>
</form>

</div>
<script>
    function anval(){
        var q1 = parseInt($('input[name="Q1"]:checked').val());
        var q2 = parseInt($('input[name="Q2"]:checked').val());
        var q3 = parseInt($('input[name="Q3"]:checked').val());
        var q4 = parseInt($('input[name="Q4"]:checked').val());
        var q5 = parseInt($('input[name="Q5"]:checked').val());
        
        if(isNaN(q1) || isNaN(q2) || isNaN(q3) || isNaN(q4) || isNaN(q5) ){
            swal("Some fields are empty!");
        }
        else{
        var score = q1+q2+q3+q4+q5;

        if(score <= 5){
            str = "You have very high anxiety!";
            strtype = "warning";
        }
        else if(score <= 10){
            str = "You have high anxiety!";
            strtype = "error";
        }
        else if(score <= 15){
            str = "You have anxiety!";
            strtype = "error";
        }
        else if(score >= 16){
            str = "You have very less anxiety!";
            strtype = "success";
        }
        swal("Your Score: "+score+'/20', str, strtype); 
        // let url = "/point_submit";
        // $.post(url,{points:bmi}).done(function(data){
            
        // });
        }
    }
</script>