<div class="container jumbotron">
    <h3 style="text-align: center;">Ask a Question/Share your Experience</h3>
    <form>

    
    <div class="form-group">
        <h5 class="headers1">Title:    
        </h5>
        <p class="subhead1">Be specific and imagine you're asking a question to another person</p>
        <input type="text" class="form-control" placeholder=" eg: How can i get rid of obesity?" name="Title">
    </div>
    <div class="form-group">
        <h5 class="headers1">Description:    
        </h5>
        <p class="subhead1">Include all the information someone would need to answer your question</p>
        <textarea  style="resize: none;"class="form-control" placeholder="Enter description..." name="Description" rows="10"></textarea>

    </div>
    <div class="form-group">
        <h5 class="headers1">Tags:    
        </h5>
        <p class="subhead1">Add a tag to describe what your question is about</p>
        <input style="resize: none;margin-bottom: 4%;"class="form-control" placeholder="e.g. (obesity, alzheimer)" name="Tags" >

    </div>
    <div class="form-group">
       
        <button class="searchbutton" type="submit" >Post</button>

    </div>
</form>
</div>
