<div id="chatcontainer">
    <div id="chatbox">
        <h2>Chatbox</h2>
    </div>
    <div id="chatlist">
        <h3>Connected People List</h3>
        <div id="chatnamesdiv">
            <div id="chatcard">
                <img src="/images/profile.png" alt="Profile Photo">
                <p id="chatusername">User 1</p>
                <span id="useronline" class="online"></span>
            </div>
            <div id="chatcard">
                <img src="/images/profile.png" alt="Profile Photo">
                <p id="chatusername">User 1</p>
                <span id="useronline" class="online"></span>
            </div>
            <div id="chatcard">
                <img src="/images/profile.png" alt="Profile Photo">
                <p id="chatusername">User 1</p>
                <span id="useronline"></span>
            </div>
        </div>
    </div>
</div>