
<div class="container-fluid jumbotron">
    <h3 style="text-align: center;">Write Your Article</h3>
    <form>

    
    <div class="form-group">
        <h5 class="headers1">Title:    
        </h5>
        <p class="subhead1">Be specific and imagine you're Writing for another person to understand</p>
        <input type="text" class="form-control" placeholder=" e.g. How One can get ride of obesity!" name="Title">
    </div>
    <div class="form-group">
        <h5 class="headers1">Description:    
        </h5>
        <p class="subhead1">Include all the information someone would need to understand</p>
        <textarea  style="resize: none;"class="form-control" placeholder="Enter description..." name="Description" rows="10"></textarea>

    </div>
    <div class="form-group">
        <h5 class="headers1">Tags:    
        </h5>
        <p class="subhead1">Add a tag to describe what your Article is about</p>
        <input class="form-control col-lg-3 col-md-6 col-sm-6" placeholder="e.g. (obesity, alzheimer)" name="Tags" id="tagsinput" >
        <div id="taglist" class="col-lg-3 col-md-6 col-sm-6">
            <p class="tagsname">Alzheimer</p>
            <p class="tagsname">Obesity</p>
            <p class="tagsname">Anxiety</p>
            <p class="tagsname">Depression</p>
        </div>
        <div id="selectedtags">
            
        </div>

    </div>
    <div class="form-group">
       
        <button class="searchbutton" type="submit" >Post</button>

    </div>
</form>

</div>
<script>
    function settag(tagvalue){
        var str = '<div class="alert alert-warning alert-dismissible fade show tagspan" role="alert"><span>'+tagvalue+'</span><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
        $('#selectedtags').append(str);
    }

    $('#tagsinput').click(function(){
        $(this).val('');
        $('#taglist').toggleClass('show');
    });
    $('.tagsname').click(function(){
        var v = $(this).text();
        $('#tagsinput').val(v);
        $('#taglist').removeClass('show');
        settag(v);
    });
</script>
