<div id="qna">
    <input type="text" name="search" id="searchbar" placeholder="Search something...">
    <button class="searchbutton">Search</button>
</div>
<div id="results">
    
        <% result.forEach((result)=>{ %>
        <div class="questioncard paddeddivs">
        <a id="question">
            <p class="questionheader"><%= result.title %></p>
            <p class="questiondesc">
                <%= result.description %>
            </p>
            <p id="quesid" hidden><%= result._id %></p>
            <p class="tags">
                <% for (var i = 0; i < tags.length; i++) { %>
                <span class="tag"><%= tags[i] %></span>
            <% } %>
        </p>
        </a>
    </div>
        <% }) %>
    
    
    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br>
</div>
</div>
<script>
    $('.questioncard a').click(function(){
        let quesid = $(this).find("#quesid").text();
        $.ajax({
            url: '/question/'+quesid+'',
            type: 'GET',
            cache: false,
        }).done(function(result){
            $('#maincontent').html(result);
        });
    });
</script>