<div id="qna">
    <input type="text" name="search" id="searchbar" placeholder="Search something...">
    <button class="searchbutton">Search</button>
</div>
<div id="results">
    <div class="question paddeddivs">
        <div class="" style="margin-top: 5px;">
            <img src="/images/profile.png" alt="Avatar" class="avatar">
            <p>anonymous_123456</p>
            </div>
        <p class="questionheader">Question 1</p>
        <!-- <p class="questiondesc">Question description Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum </p> -->
        <p class="tags"><span class="tag">tag1</span><span class="tag">tag2</span></p>
        <p class="topcomment">The top comment of the question</p>
    </div>
    <div class="question paddeddivs">
        <p class="questionheader">Question 1</p>
        <p class="questiondesc">Question description Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum </p>
        <p class="tags"><span class="tag">tag1</span><span class="tag">tag2</span></p>
        <p class="topcomment">The top comment of the question</p>
    </div>
    <div class="question paddeddivs">
        <p class="questionheader">Question 1</p>
        <p class="questiondesc">Question description Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum </p>
        <p class="tags"><span class="tag">tag1</span><span class="tag">tag2</span></p>
        <p class="topcomment">The top comment of the question</p>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br>
</div>
</div>