<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='manifest' href='js/manifest.json'>
    <title><%= title %></title>
    <%- include ('../partials/links') -%>
    <link rel="stylesheet" href="/css/forumpage.css">
    <link href="/css/blog.css" rel="stylesheet">
    <link href="/css/test.css" rel="stylesheet">
    <link href="/css/question.css" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
</head>
<body>
    <!--  -->
    <div id="container">
        <%- include("../partials/nav") -%>
        <div id="main">
           
            <div class="sidebar">
                <ul id="sidebarul">
                    <h3 id="username">Username</h3>
                    <li><a id="homepage">Home</a></li>
                    <li><a id="courses">Courses</a></li>
                    <li><a id="anxiety">Track Your Health</a></li>
                    <li><a id="tags">Tags</a></li>
                    <li><a id="chat">Chat</a></li>
                </ul>
                <button class="searchbutton" id="blog" >Ask A Question</button>
            </div>
            <div class="maincontent" id="maincontent">
                    
        </div>
    </div>
    <script src="/js/index.js"></script>
    <script>
        $(document).ready(function() {
            
            $('#maincontent').load("homepage");

            });
    </script>
</body>
</html>
