<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='manifest' href='../../manifest.json'>
    <title><%= title %></title>
    <%- include ('../partials/links') -%>
    <link rel="stylesheet" href="/css/forumpage.css">
    <link href="/css/blog.css" rel="stylesheet">
</head>

<!-- Route for blog -->
<script type="text/javascript">
    $(function() {
        $('#ask').click(function() {
                $.ajax({
                    url: '/blog',
                    type: 'GET',
                    cache: false,
                }).done(function(result){
                    $('#maincontent').html(result);
                });
        });
    });
</script>

<body>
    <!--  -->
    <div id="container">
        <%- include("../partials/nav") -%>
        <div id="main">
           
            <div class="sidebar">
                <ul id="sidebarul">
                    <h3 id="username">Username</h3>
                    <li class="active"><a href="">Home</a></li>
                    <li><a href="">Courses</a></li>
                    <li><a href="">Track Your Health</a></li>
                    <li><a href="">Tags</a></li>
                </ul>
                <button class="searchbutton" id="ask" >Ask A Question</button>
            </div>
            <div class="maincontent" id="maincontent">
                <%- include("./homepage") -%>
        </div>
    </div>
    

    <script src="/js/forumpage.js"></script>
</body>
</html>
