<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <%- include ('../partials/links') -%>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div id="formdiv">
        <form action="" class="forms">
            <h2>Login</h2>
            <label for="useremail">Email id</label>
            <input type="email" name="email" id="useremail" placeholder="Enter Your email-id">
            <label for="userpassword">Password</label>
            <input type="password" name="userpassword" id="userpassword" placeholder="Enter Your password">
            <p>
                <input type="checkbox" id="showpass">
                <label for="showpass">Show Password</label>
            </p>
            <input type="submit" class="searchbutton" value="Login">
            <a href="./">&#x21E6; Back to Home</a>
        </form>
    </div>
    <script>
        $(document).ready(function(){
            $('#showpass').on('change', function(){
                if(this.checked){
                    $('#userpassword').attr('type', 'text');
                }
                else{
                    $('#userpassword').attr('type', 'password');
                }
            });
        });
    </script>
</body>
</html>