<div id="questioncontainer" class="paddeddivs">
    <div id="questionheaderinfo">
        <div id="questionasker">
            <a href="">
                <img src="/images/profile.png" alt="Avatar" class="avatar">
                <p><%= user_name %></p>
            </a>
        </div>
        
        <h4 id="questionheader"><%= result[0].title %></h4>
    </div>
    <div id="questiondesc">
        <div id="questioncontent">
            <p>
                <%= result[0].description %>
            </p>
        </div>
        <div id="questionoptionsdiv">
            <p class="questionoption">
                <span class="statvalue">110</span>
                <span class="statname"><img src="/images/upvote.png" alt="Upvote/Like"></span>
            </p>
            <p class="questionoption" id="postnewcomment">
                <span class="statvalue">25</span>
                <span class="statname">Comments</span>
            </p>
            <span class="questionoption" id="report">Report</span>
        </div>
    </div>
    <div id="addcomment">
        <textarea id="newcomment" rows="10" placeholder="Type in your comment here..."></textarea>
        <div>
            <button id="postcomment" class="searchbutton">Comment</button>
            <button id="cancel" class="searchbutton button-light">Cancel</button>
        </div>
    </div>
    <div id="commentsdiv">
        <div class="commentcard">
            <p class="commentor"><a href="">Commentor Username</a><span class="commentorverified">Verified Account</span></p>
            <p class="commentcontent">Comment Content here</p>
            <div class="commentoptionsdiv">
                <p class="commentoption">
                    <span class="commentstatvalue">10</span>
                    <span class="commentstatname">Likes</span>
                </p>
                <p class="commentoption" id="replycomment">Reply</p>
            </div>
        </div>
        <div class="commentcard">
            <p class="commentor"><a href="">Commentor Username</a><span class="commentorverified">Verified Account</span></p>
            <p class="commentcontent">Comment Content here</p>
            <div class="commentoptionsdiv">
                <p class="commentoption">
                    <span class="commentstatvalue">10</span>
                    <span class="commentstatname">Likes</span>
                </p>
                <p class="commentoption" id="replycomment">Reply</p>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#postnewcomment').click(function(){
        $('#addcomment').fadeToggle(500);
        });
        $('#newcomment').click(function(){
        $(this).select();
        });
        $('#cancel').click(function(){
            $('#newcomment').val('');
            $('#addcomment').fadeOut(500);
        });
        $('#replycomment').click(function(){
            var u = $(this).parent().parent().find('.commentor').find('a').text();
            $('#addcomment').fadeIn(500);
            $('#newcomment').val('@'+u+' ').focus();
            $(window).scrollTop($('#addcomment').position().top);
        });
    });
</script>


   