
<div class="container">
    <div class="">
    <img src="/images/profile.png" alt="Avatar" class="avatar">
    <p>anonymous_123456</p>
    </div>
    <div class="bd" >
        <h5>Title:</h5>
            <div class="bd">
                    <h6>title ayeaga yaha pe</h6> 
            </div>

    </div>
    <div class="bd">
        <h5>Description:</h5>
        <div class="bd">
            <h6>Description ayeaga</h6> 
            <br><br><br><br><br><br><br>
            
        </div>
        <h5>Tags:(edar tag dalo database se)</h5>
        
        

    </div>
    <div class="bd">

        <button type="button" class="searchbutton">Like</button>
        <button type="button" class="searchbutton">comment</button>
        <button type="button" class="searchbutton">Report</button>

    </div>
    <div class="bd">
        <img src="/images/profile.png" alt="Avatar" class="avatar1">
        <p>anonymous_123456</p>
        <form class="">
            <div class="form-group col-3">
            <textarea class="form-control" rows="1" style="resize: none;" ></textarea>
            <button type="button" class="searchbutton">comment</button>
        </div>
        </form>
    </div>
</div>



   