<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registration</title>
</head>

<body>
  <form action="/register" method="POST">
    Username: <input type="text" name="username" id=""> <br>
    Email Id: <input type="email" name="emailId" id=""> <br>
  </form>
</body>

</html>