<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <%- include ('../partials/links') -%>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <script>
        $(document).ready(function(){
            $("#postblog").on('click',function(e){
                
                e.preventDefault();
                let title = $("#title").val();
                let description = $("#description").val();
                let tag = $("#tag").val();
                let url = "/post_blog"
                $.post(url,{title:title, description:description, tag:tag}).done(function(data){
                    if(data.login == "Login Successful"){
                        let geturl = data.redirect;
                        $(location).attr('href',geturl);
                    }
                    else if(data == "Invalid Credentials"){
                        swal({
                            title:"Invalid Credentials",
                            text:"Username/Password Incorrect",
                            icon:"warning",
                            dangerMode:true,
                        }).then((willDelete) => {
                            if (willDelete) {
                                let geturl = "/login";
                                $(location).attr('href',geturl);
                            }
                    })
                    }
                    else{}
                })
            })
        })
    </script>
    <div>
        <form action="" class="forms">
            <h2>Register</h2>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter a username..." id="user_name">
            <label for="useremail">Your email</label>
            <input type="email" name="email" id="useremail" placeholder="Enter Your email-id" id="u_email_id">
            <label for="userpassword">Password</label>
            <input type="password" name="userpassword" id="userpassword" placeholder="Enter Your password">
            <label for="confirmpassword">Confirm Password</label>
            <input type="password" name="comfirmpassword" id="comfirmpassword" placeholder="Retype your password">
            <label for="mobileno">Mobile No.</label>
            <input type="number" name="mobileno" id="mobileno" placeholder="Enter Your mobile no.">
            <label for="tags">Interested topics</label>
            <input type="text" name="tags" id="tags" placeholder="Enter tags">
            <label for="diagnosed">Diagnosed with</label>
            <input type="text" name="diagnosed" id="diagnosed" placeholder="Enter the disease you are diagnosed with">
            <input type="submit" class="searchbutton" id="register_user" value="Register">
        </form>
    </div>
</body>
</html>